<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Genus <%= h params[:id].capitalize %></title>
		<script type="text/javascript" src="http://assets.coastercapture.com/javascripts/prototype.js"></script>
		<style type="text/css">
			a {
				color:#B7B7B7;
			}
			a:hover {
				color:#3B5998;
			}
		</style>
	</head>
	<body>
		<h1><%= h params[:id].capitalize %></h1>
		Family <%= @taxa.split(",")[0] %> > <b>Genus <%= h params[:id].capitalize %></b>
		<% count = 0 -%>
		<table id="herp_pictures">
			<% for h in @herp_pics -%>
				<% count += 1 -%>
				<% if params[:binder] -%>
					<% allowed = 3 %>
				<% else -%>
					<% allowed = 100 %>
				<% end -%>
				<% if count <= allowed %>
				<td id="td_<%= count %>"><a href="<%= h.gsub("JPG", "jpg") %>" target="_blank"><img class="herp_image" id="herp_image_<%= count %>" onload="Element.show('td_<%= count %>')" <% unless params[:binder] %>height="200" width="300"<% end %> src="<%= h.gsub("JPG", "jpg") %>"></td><% if params[:binder] -%><br><br><% end -%>
				<% if count % 3 == 0 -%>
				</table><table>
				<% end -%>
				<% end -%>
			<% end -%>
		</table>
		<%= @page_count %> pages searched - <%= @species.size %> Unique Species
		<% if @herp_pics.size == 0 %><h2>No pictures found - click <a href="http://www.google.com/images?q=<%= params[:id] %>">here</a><% end %><br><br>
		<!-- <h3>Species - <%= @species.size %> in total (<a href="javascript:void(0)" onclick="Element.show('species')">Show</a>)</h3>
		<div id="species" style="display:none;">
		<% for s in @species %>
		<li><small><%= s %></small></li>
		<% end %>
		</div> --> 
	</body>
</html>
