<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Set Quiz Order</title>
		<script type="text/javascript" src="http://assets.coastercapture.com/javascripts/prototype.js"></script>
		
		<style type="text/css">
			a {
				color:#B7B7B7;
			}
			a:hover {
				color:#3B5998;
			}
		</style>
	</head>
	<body>
	
		<h1>Set Quiz Order:</h1>
		<form action="/herpetology/set_taxa">
			<select name="taxa">
				<% for d in @taxa %>
					<option value="<%= d %>"><%= d %></option>
				<% end %>
			</select>
			<button type="submit">Submit</button> 
		</form>
	</body>
</html>
