<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: Select Environment</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>Admin Interface</h1>
        <h3>Be responsible, please?</h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
          <a href="/admin/environment" style="color:#173A7A;">Home</a>
          <a href="/user/edit">My Profile</a>
          <a href="/user/take_quizzes">Take Quizzes</a>
          <a href="/user/quizzes">My Quizzes</a>
          <a href="/quiz/new">New Quiz</a>
          <a href="/user/logout">Logout</a>
      </div>
      <div id="content">
		<div style="float:left;width:250px;border-right:1px solid #333333;">
      		<h2>Management</h2>
			<p><button style="font-size:16px;"><img src="/images/user_edit.png"/> User Management</button></p>
			<p><button style="font-size:16px;"><img src="/images/cog_edit.png"/>Advanced Settings</button></p>
		</div>
		<div style="float:left;padding-left:10px;">
      		<h2>Database Search</h2>
		</div>
      </div>
      <div id="bottom">
      
      </div>
    </div>
  </body>
</html>
