<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: Quiz Ended</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>Quiz Ended</h1>
        <h3>Quiz <%= @quiz.quiz.name %> ended</h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
          <a href="/user/home">Home</a>
          <a href="/user/edit">My Profile</a>
          <a href="/user/take_quizzes" style="color:#173A7A;">Take Quizzes</a>
          <a href="/user/quizzes">My Quizzes</a>
          <a href="/quiz/new">New Quiz</a>
          <a href="/user/logout">Logout</a>
      </div>
      <div id="content">
         This quiz has been ended. It will no longer show up on the "Take Quizzes" page under "Quizzes in progress". Your attempt also will not show up on the creator's "Results" page.
       <br><br> <button type="button" onclick="document.location.href='/user/take_quizzes';">Back</button>
      </div>
      <div id="bottom">
      
      </div>
    </div>
  </body>
</html>
 