<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>WebQuiz: Register</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css?<%= rand(10000) %>"/>
    <script type="text/javascript" src="http://208.112.81.88/javascripts/prototype-min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="top">
        <h1>Register</h1>
        <h3>Simple & Easy!</h3>
        <div id="logo2">
          <img src="/images/logo.gif" width="64" height="64"/>
        </div>
      </div>
      <div id="menu">
          <a href="/">Home</a>
          <a href="/user/login">Login</a>
          <a href="/user/register" style="color:#173A7A;">Register</a>
          <a href="/quizzes">Take Quizzes</a>
      </div>
      <div id="content">
        <% if flash[:notice] -%><h3><%= flash[:notice] %></h3><br><% end -%>
        <div id="update">
        </div>
        <form action="/user/new" method="post" onsubmit="new Ajax.Updater('update', '/user/new', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;" name="frmRegister">
         <%= token_tag %>
          <p>
            Name:<br>
            <input name="user[name]" class="field" size="35" type="text"/>
          </p>
          <p>
            Username:<br>
          <input name="user[username]" class="field" size="35" type="text"/>
          </p>
          <p>
            Password:<br>
          <input name="user[password]" class="field" size="35" type="password"/>
          </p>
          <p>
          Confirm Password:<br>
          <input name="user[password_confirmation]" size="35" class="field" type="password"/>
          </p>
          <button name="btnSubmit" type="submit">Submit</button>
          </form>
      </div>
      <div id="bottom">
      
      </div>
    </div>
  </body>
</html>
