<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Quiz on a mystery genus</title>
		<script type="text/javascript" src="http://assets.coastercapture.com/javascripts/prototype.js"></script>
		
		<style type="text/css">
			a {
				color:#B7B7B7;
			}
			a:hover {
				color:#3B5998;
			}
		</style>
		<script type="text/javascript">
		function swap_image() {
				$('picture').src = '/herpetology/proxy_image?reqid=' + Math.random();
		}
		</script>
	</head>
	<body>
		<img id="picture" src="/herpetology/proxy_image" />
		<h1>Answer:</h1>
		<div id="updater"></div>
		<form action="/herpetology/check_answers" onsubmit="new Ajax.Updater('updater', '/herpetology/check_answers', {evalScripts:true, parameters:Form.serialize(this)}); return false;">
			<span id="family">Family:</span><input type="text" id="familyform" name="family"  /><br><br>
			<span id="genus">Genus:</span> <input type="text" id="genusform" name="genus" /><br><br>
			<button type="submit">Submit</button> <button type="button" onclick="new Ajax.Request('/herpetology/random_quiz', {evalScripts:true}); setTimeout('swap_image()', 100); $('family').update('Family:');$('genus').update('Genus:');$('familyform').value = '';$('genusform').value = '';">Next</button>
		</form>
		<p>Change Quiz Order:</p>
		<form action="/herpetology/set_taxa">
			<select name="taxa">
				<% for d in @taxa2 %>
					<option value="<%= d %>"><%= d %></option>
				<% end %>
			</select>
			<button type="submit">Submit</button> 
		</form>
	</body>
</html>
